
.container-icon{
    padding: 130px 100px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.inner-icon{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 300px;
}


h5{
    font-size: 1.4rem;
    font-weight: 600;
    text-wrap: nowrap;
    color: #000;
    margin-top: 30px;
}

.box{
   
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    animation: enterIcon 0.5s forwards;
    
}

.number{
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.line {
    position: absolute;
    height: 1px;
    width: 200px;
    opacity: 0;
    background-color: #000;
    top: 50%;
    right: -70%;
    transform-origin: left;
    animation: enterLine 0.5s forwards;
}


@keyframes enterLine{
    0%{
        opacity: 0;
        transform: translate(-50%) scaleX(0);
    }
    100%{
       opacity: 1;
         transform: translate(-50%) scaleX(1);

    }
}

@keyframes enterIcon{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.box-text{
    opacity: 0;
    animation: miao 0.6s forwards;
}

@keyframes miao{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 768px){
    .container-icon{
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
    }
    .inner-icon{
        align-items: center;
        text-align: center;
    }
    .line{
        display: none;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-text{
        text-align: center;
    }

    .number{
        margin-bottom: 30px;
    }
    
}