.title{
    width: 850px;
}



.elementor-subtitle{
    margin-top: 20px;
    font-size: 26px;
    line-height: 1.1em;
}



.first-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.title hr{
    margin: 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #797777, #ccc);
    color: #797777;
}






