.body-offcanvas-coockie{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.offcanvas-body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.offcanvas{
    height: auto!important;
}