@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@300&family=Urbanist:ital,wght@1,500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Jost', 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-wrap: break-word;
}