.slick-slider{
    position: relative;
    width: 100%;
    height: 100vh!important;
}


.slick-slider .slick-list{
    height: 100vh!important;
}

.slick-slider img{
    width: 100%;
    height: 100vh!important;
    object-fit: cover;
}



.slick-slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh!important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.382);
    z-index: 0;
}


.slick-active img{
    filter: brightness(0.5);
    animation: forwards zoom 16s;
    animation-delay: 2.5s;
    ;
    height: 100vh!important;
    width: 100%;
}



@keyframes zoom {
    from {   
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}


.slick-dots{
    position: absolute;
    bottom: 150px;
    width: 150px;
    padding: 0;
    margin: 0;
    transform: rotate(90deg)!important;
    left: 70px;
    z-index: 2;
}

.slick-dots li button::before{
    font-size: 10px;
    color: #fff;
}

.slick-dots li.slick-active button:before{
    color: #fff;
    height: 100px!important;
}

.next-carousel{
    top: 48%;
    right: 120px;
    transform: translateY(-50%);
}

.pre-carousel{
    top: 59%;
    right: 120px;
    transform: translateY(-50%);
}

.pre-carousel, .next-carousel{
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    z-index: 1;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.382);
    color: #fff;
    font-size: 30px;
}

.pre-carousel:hover, .next-carousel:hover{
    background-color: rgb(0, 0, 0);
    border-color: black;

}


.carousel-div-text{
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 2;
    width: 30%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.382);
}

.slick-active .carousel-div-text{
    animation: top-bottom 1s ease-in-out;
}

@keyframes top-bottom {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}


.main-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 890px;
    z-index: 4;
}


.carousel-cap{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 96px;
    font-weight: 600;
    line-height: 1em;    
    position: absolute;
    z-index: 4;
}

.slick-active .carousel-cap{
    animation: right-to-left 1s ease-in-out;
}


@keyframes right-to-left {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}





@media screen and (max-width: 768px){
    .slick-slider{
        height: 100vh!important;
    }
    .slick-slider .slick-list{
        height: 100vh!important;
    }
    .slick-slider img{
        height: 100vh!important;
    }
    .slick-slider::before{
        height: 100vh!important;
    }
    .slick-active img{
        height: 100vh!important;
    }
    .slick-dots{
        display: none!important;
    }
    
    .next-carousel{
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .pre-carousel{
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .carousel-div-text{
        display: none!important;
    }
    .main-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 4;
    }
    .carousel-cap{
        font-size: 50px;
    }
    .slick-active .carousel-cap{
        animation: right-to-left 1s ease-in-out;
    }
    .slick-active .carousel-div-text{
        animation: top-bottom 1s ease-in-out;
    }
    .pre-carousel{
        top: inherit;
        right: inherit;
        bottom: 5%;
        left: 35%;
        
    }
    .next-carousel{
        top: inherit;
        right: inherit;
       
        bottom: 5%;
        right: 35%;
    }

    .pre-carousel, .next-carousel{
        font-size: 18px;
        padding: 15px;
    }
}



