


.astral-carousel {
    position: relative;
    width: 550px;
    height: 550px;
}

.astral-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.astral-carousel-item {
    width: 470px;
    height: 470px;
    position: absolute;
}


.animate{
    animation: enter 0.8s forwards;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .astral-carousel {
        width: 100%;
        height: 100%;
    }
    .astral-carousel img {
        width: 100%;
        height: 100%;
    }
    .astral-carousel-item {
        width: 100%;
        height: 100%;
    }

    .animate {
        animation: enterimg 0.8s forwards;
    }

    @keyframes enterimg {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .astral-carousel {
        width: 100%;
        height: 100%;
    }
    
}